.grf_grafico_barras .grf_barra_porcentaje span,
.grf_grafico_tarta .grf_barra_porcentaje span {
	background-color: #630;
}
#header {
	background-color: #630;
}
ul.menu li a.activo {
	background-color: #630;
}
#footer {
	border-bottom: 4px solid #630;
}
