body { background-color: #ff9501; margin: 0 auto; color: #0B2131; font-family: Arial; font-size: 12px; }
  .barra-lateral { width:3px;  }
  a { font-size:10px; color:#0B2131; }
  a img { border:0; }
  .link-ver-todo { clear:both; display:block; padding-bottom: 3px; margin-top:5px; text-align: right; }

  .celda-bullet { vertical-align:top; width:3px;padding:0px; margin:0px; }
  .celda-contenido { padding:0px; margin:0px; padding-left:2px; vertical-align:top; text-align:left; font-size:10px;}
  .align_left { text-align: left; }
  .align_right { text-align: right; }
  .align_center { text-align: center; }
  .texto_center {text-align:center; }
  .seccion { padding: 5px 0px; clear:both; overflow:hidden; }
  .contenedor-titulo { width:100%;}
  .titulo-seccion {text-align: left;
  		color:#fff; 
  		padding: 3px;
  		padding-left: 0px;
  		width: #ANCHO_PANTALLA#px; 
  		margin:0px auto;
		font-weight:bold;}
  .titulo-seccion td {padding-left:20px; height:20px; }
  .list-item { float:left;  width: 65px;  font-size:10px; color:#0B2131; margin-left:5px; }
  .item-par {float:none; width:inherit;padding:5px;background-color:#CDDFE9; }
  .item-impar {float:none; width:inherit;  padding:5px; background-color:#fff; }
  .clear_float { clear:both;}
  
  .menu-item {padding-bottom: 5px; padding-top:0px; margin:0px auto; border-bottom: 2px solid #fff;}
  .lista-links { width:90%; clear:both; overflow:hidden; margin:0 auto;width: #ANCHO_PANTALLA#px;}

  .link-par { padding:2px 5px; display:block;  }
  .link-impar { padding:2px 5px;display:block; }
  .link-par a, .link-impar a { color:#0B2131;  }
  #bloque-central { text-align:center; background-color: #fff; margin:0 auto; }
  #banner-pagina{  }
  #titulo-pagina { margin: 2px auto; background-color: #ff9501; border-bottom: 1px solid #fbd718; color:#fbd718; font-size: 12px; text-align:center; font-weight:bold; width:inherit;}
  #bloque-secciones { text-align:left; font-size:12px;  margin:0 auto; }
  #paginado { font-size:10px;padding:4px; width:90%; margin:0px auto; clear:both;color: #0B2131;}
  #paginado a { font-size:10px;padding:4px; margin:2px; }
  .banner { text-align:center;  width:100%; display:block;}
  .banner img { border: 0;}
#logo { background-color:#ffffff; text-align:center;}
